.envrc

# バックエンド関連
/backend/tmp/
/backend/*.log
/backend/internal/domain/models/
/backend/vendor/
/backend/.env
/backend/.env.local
/backend/api

# フロントエンド関連
/frontend/node_modules/
/frontend/.next/
/frontend/out/
/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# Terraform関連
**/.terraform/*
*.tfstate
*.tfstate.*
.terraformrc
terraform.rc
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# IDE関連
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak

# OS関連
.DS_Store
Thumbs.db
