# ビルド成果物
.next/
out/
build/
dist/

# 依存関係
node_modules/

# 静的ファイル
public/
static/

# キャッシュとログ
.cache/
.eslintcache
*.log

# テスト・カバレッジレポート
coverage/
.nyc_output/

# その他
.git/
.github/
.vscode/
.DS_Store
.env*
!.env.example
